.nav {
    text-align: center;
    background: rgba(116,132,162,0.7);
    padding-top: 10px;
}

.navElement {
    display: inline-block;
    padding: 0 10px 10px 10px;
    text-transform: uppercase;
    color: white;
}

.clickable {
    cursor: pointer;
}

.selected {
    border-bottom: 2px solid white;
}